<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	{{#if message}}
	<h2 class="alert">{{message}}</h2>
	{{/if}}
<div>
	<form action="/auth/login" method="POST" id="login">
		<h1>Log In</h1>
		<label for="user"><b>Username</b></label>
		<br>
		<input type="text" id="username" placeholder="Username" name="username" required>
		<br>
		<label for="password"><b>Password</b></label>
		<br>
		<input type="password" id="password" placeholder="Password" name="password" required>
		<br>
		<button type="submit">Log In</button>
	</form>
	<form action="/register">
		<button type="submit">Create Account</button>
	</form>
</div>
</body>
</html>