<html>
<head>
	<title>Secure</title>
	<link rel="stylesheet" href="style.css">
</head>
<h1>Welcome {{user}}!</h1>
<form action="/auth/logout" method="POST" id="register">
	<button type="submit">Log Out</button>
</form>
</html>